<div class="row">
  <div class="small-6 small-centered columns">
    <h1 class="blkout">The Arthouse</h1>
  </div>
</div>

<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="small-2 columns ">
      <%= link_to gallery do %>
        <%= image_tag gallery.first_image.artwork.url(:thumb), class: 'patchwork' if gallery.first_image %>
      <% end %>
    </div>
  <% end %>
</div>
  
<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="small-2 columns ">
      <%= link_to gallery do %>
        <%= image_tag gallery.images.sample.artwork.url(:thumb), class: 'patchwork' if gallery.first_image %>
      <% end %>
    </div>
  <% end %>
</div>


<div class ="row">
  <div class ="small-4 columns">
    <article>
      <h3 class="logo">Where am I?</h3>
      <p>Arthouse is a place to upload stuff you've made or stuff you like... It can be as hip or as normal as you like. No selfies. </p>
    </article>
  </div>

  <div class ="small-4 columns">
    <article>
      <h3 class="logo">Code is art too!</h3>
      <%=link_to image_tag('octo_github.png'), 'http://github.com/swooop/Arthouse' %>
    </article>
  </div>

  <div class ="small-4 columns">
    <article>
      <h3 class="logo">Seriously...</h3>
      <p> Please feel free to poke around in the code to your hearts content... Click the OctoCat! </p>
    </article>
  </div>

