<div class="row">
  <div class="small-6 small-centered columns">
    <h2 class="logo">Galleries</h2>
    <%= render partial: 'shared/flash_messages', locals: { flash: flash } %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <h3> Add a New Gallery </h3>
  </div>
  <div class="small-8 columns">
    <%= link_to 'Add', new_gallery_path, class: 'button radius' %>
  </div>
</div>

<hr class="style-one row"/>

<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="small-4 columns">
      <h4>
        <%= link_to gallery.title, gallery_path(gallery) %>
      </h4>
      <%= image_tag gallery.first_image.artwork.url if gallery.first_image %>
      <p><%= gallery.description %></p>

      <% if current_user != gallery.user %>
        <%= link_to "<span>#{gallery.like_count}</span> likes".html_safe, like_gallery_path(gallery), class: 'button like_button', method: 'post', remote: true %>
      <% else %>
        <p><%= gallery.like_count %> likes</p>
      <% end %>


      <% if current_user  == gallery.user %>
        <%= link_to 'Delete', gallery_path(gallery), method: :delete, confirm: 'Sure?', class: 'button tiny radius' %>
        <%= link_to 'Edit', edit_gallery_path(gallery), class: 'button tiny radius' %>
      <% end %>
    </div>
  <% end %>
</div>


