<h2>Galleries</h2>

<%= render partial: 'shared/flash_messages', locals: { flash: flash } %>

<ul>
  <% @galleries.each do |gallery| %>
  <li>
    <%= link_to gallery.title, gallery_path(gallery) %>
    <%= link_to 'Delete', gallery_path(gallery), method: :delete, confirm: 'Sure?' %>
    <%= link_to 'Edit', edit_gallery_path(gallery) %>
  </li>
  <% end %>
</ul>

<%= link_to 'New Gallery', new_gallery_path %>
