<div class="row">
  <div class="small-6 small-centered columns">
    <h2 class="logo">Galleries</h2>
  </div>
</div>

<%= render partial: 'shared/flash_messages', locals: { flash: flash } %>

<%= link_to 'New Gallery', new_gallery_path %>

<ul>
  <% @galleries.each do |gallery| %>
  <li>
    <%= link_to gallery.title, gallery_path(gallery) %>
    <% if current_user = gallery.user %>
    <%= link_to 'Delete', gallery_path(gallery), method: :delete, confirm: 'Sure?' %>
    <%= link_to 'Edit', edit_gallery_path(gallery) %>
    <% else %> <p> Yoohoo </p>
    <% end %>
  </li>
  <% end %>
</ul>


