<div class="row">
  <div class="small-4 small-centered columns">
    <h3 class="logo"><%= @gallery.user.name_full %></h3>
  </div>
  <div class="small-4 small-centered columns">
    <%= image_tag "http://gravatar.com/avatar/#{@gallery.user.email_as_md5}", {height: 80, width: 80, alt: "#{@gallery.user.name_full}'s profile image"} %>
  </div>
  <div class="small-4 columns">
    <%= render partial: 'shared/flash_messages', locals: { flash: flash } %>
  </div>
</div>

<div class="row">
  <div class="small-8 large-offset-2 columns">
<<<<<<< HEAD
    <h3 class="chunky_link"><%= @gallery.title %></h3>
=======
    <h3 class="chunky_link"><%= @gallery.title %></h3>
>>>>>>> dev
    <p><%= @gallery.description %></p> 

    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout the Arthouse for all your arty needs!" data-hashtags="arty" data-dnt="true">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <br>
  </div>
</div>




  <div class="row">
    <div class="small-6 small-centered columns">
      <% for image in @gallery.images %>
        <%= image_tag image.artwork_url.to_s %>
        <p><%= image.description %></p>
        <hr class="style-one" />
      <% end %>
    </div>
  </div>
